*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222831;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape{
    height: 250px;
    width: 250px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child{
    background: linear-gradient(#18a8ad, #00FFF5);
    left: -85px;
    top: -80px;
}

.shape:last-child{
    background: linear-gradient(to right, #158d93 , #00FFF5);
    right: -90px;
    bottom: -600px;
}

form{
    height: 1030px;
    width: 400px;
    background-color: rgba(255,255,255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba( 8, 7, 16, 0.6);
    padding: 50px 35px ;
    margin-bottom: 50%;

}

form *{
    font-family: 'Raleway', sans-serif;
    color: #ffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-family: 'Archivo Black',sans-serif;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(#00FFF5, #00ADB5 60%);
    color: #ffffff;
  }

.social-icon{
    display: flex;
    align-items: right;
    margin-top: 30px;
}
.social-icon div{
    width: 150px;
    border-radius: 3px;
    padding: 8px 10px 10px 8px;
    background-color: rgba(255,255,255, 0.27);
    color: #eaf0fb;
    text-align: center;
    transition: all .42s;
}
.social-icon div:hover{
    background-color: rgba(255,255,255, 0.47);
}

.social-icon .go{
    margin-right: 25px;
}
.social-icon i{
    margin-left: 4px;
}